.login-img {
  background-image: url('https://img.freepik.com/free-photo/sports-tools_53876-138077.jpg?w=2000');
  background-size: cover;
  background-position: center;
}
.bgcolor{
  background-color: blue;
}